In [48]:
import subprocess
import pandas as pd
import numpy as np
from io import StringIO

In [42]:
df = pd.read_csv(StringIO(subprocess.run([
    "bwtool", "extract", "bed", "tests/HepG2.bed", "tests/ENCFF523IAP.bigWig", "/dev/stdout"
], capture_output=True, check=True).stdout.decode("utf-8")), header=None, sep="\t")

In [73]:
s = df[df.columns[-1]].str.split(",", expand=True).replace("NA", np.nan).astype(float).mean(axis=1)

In [75]:
s.name = "test"

In [78]:
pd.DataFrame(s)

          test
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14    0.231300
15         NaN
16    1.536850
17         NaN
18    0.031593
19    0.092400
20         NaN
21         NaN
22         NaN
23         NaN
24         NaN
25         NaN
26         NaN
27         NaN
28         NaN
29         NaN
...        ...
2206       NaN
2207       NaN
2208  0.012500
2209       NaN
2210       NaN
2211       NaN
2212       NaN
2213       NaN
2214       NaN
2215       NaN
2216       NaN
2217       NaN
2218  0.187400
2219       NaN
2220       NaN
2221       NaN
2222       NaN
2223       NaN
2224       NaN
2225       NaN
2226       NaN
2227       NaN
2228       NaN
2229  2.177197
2230       NaN
2231  0.010000
2232       NaN
2233       NaN
2234       NaN
2235       NaN

[2236 rows x 1 columns]